$boxRadius: 8px;
$subtitle-color: #b3b2b2;
$accentColor: rgb(55, 175, 132);
// $accentColor: rgb(6, 213, 213);
// $accentColor: rgba(54, 83, 204, 0.85);
$darkGrey: #222222;
$transitionSpeed: 0.3s;

@mixin transition($property, $speed, $type) {
  -webkit-transition: $property $speed $type;
  -moz-transition: $property $speed $type;
  transition: $property $speed $type;
}

html, body {
  overflow-x: hidden;
}

@media(min-width: 768px) { .hero {padding-top: 7rem;} }
@media(max-width: 767px) { .hero {padding-top: 3rem;} }

.hero {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 100vh;
}

.header {
    position:absolute;
    top:50%;
    text-align: center;
    width: 100%;
    padding-bottom: 3rem;
    -ms-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);

    h1 {
      font-family: inherit;
      font-size: 2rem;
      margin-bottom: 20px;
      color: white
    }

    p {
      margin-left: auto;
      margin-right: auto;
      font-size: 1.2rem;
      color: $subtitle-color;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }

    @media(min-width: 768px) { p {width: 52%;} }
    @media(min-width: 568px) and (max-width: 777px) { p {width: 96%;} }
}

.modal-open {
    padding-right: 0 !important;
}

.hero:after {
  @extend .stick;
  content: "";
  position: absolute;
  background-image: url(../media/background.jpg);
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  // opacity: 0.2;
}

.section-heading {
  color: white;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

#aboutBlock {
  background: rgba(0, 0, 0, 0.5); /* If our image is bright, we can tone it down with this darker overlay */
  height: auto;
  position: relative;
  color: white;
  padding-top: 4rem;
  padding-bottom: 4rem;

  .col-sm.6 {
    color: white;
    text-align: center;
  }

  h3 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  img {
      max-width: 75%;
      height: auto;
      border-radius: 5%;
      border: 0.4rem solid $accentColor;
      margin-bottom: 2rem;
  }
}

#aboutBlock:after {
  // @extend .stick;
  // content: "";
  // position: absolute;
  // background-image: url(../media/ptown.jpg);
  // background-size: cover;
  // background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media only screen and (max-device-width: 767px) {
    .stick {
        background-attachment: scroll;
    }
}

.stick {
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.text-center {
  text-align: center;
}

.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px
}

.avatar-md {
  @extend .img-circle;
  margin-bottom: 1.0rem;
  width: 150px;
  height: 150px;
}

.nav-cell {
  background-color: rgba(134, 134, 134, 0.21);
  width: 100%;
  height: 60px;
  margin-bottom: 1rem;
  color: white;
  font-size: 2rem;
  // transition: background-color 0.5s ease;
  @include transition(background-color, 0.5s, ease);

  border-radius: 6px;
  padding-left: 12px;
  cursor: pointer;

  i {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
  }
}

.nav-cell:hover {
  background-color: $accentColor;
}

footer {
  color:white;
  height: 3rem;
  background-color: $accentColor;
}

#favoritesBlock {
  height: auto;
  background-color: $darkGrey;

  @media(min-width: 768px) {
    .container {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }

  @media(min-width: 568px) and (max-width: 777px) {
    .container {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}
@media(max-width: 991px) {
  .overlay {
    display: none;
  }
}

#projectsBlock {
  background-color: #3e3e3e;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .row {
    margin-bottom: 3rem;
    .col-sm-12 {
      text-align: center;
    }
    .col-lg-8 {
      margin-bottom: 1.5rem;

      // margin-right: 1rem;
    }
  }

  img {
    border-radius: $boxRadius;
  }
}

.accent-line {
  width: 5%;
  border-width: 3px;
  border-color: $accentColor;
}

.active {
  opacity: 1.0 !important;
}

.project-button {
  width: auto;
  height: 6rem;
  background-color: $darkGrey;
  margin-bottom: 0.5rem;
  text-align: center;
  padding-top: 1rem;
  border-radius: 8px;
  border: 2px solid $darkGrey;
  cursor: pointer;

  content: "";
  width: auto;
  height: 6rem;
  background-color: $darkGrey;

  display:block;
  position:relative;

  @include transition(all, $transitionSpeed, ease);
  // transition: border-color 0.5 ease;

  h3 {
    color: whitesmoke;
  }

  h6 {
    color: rgb(185, 185, 185);
  }
}

.overlay {
  color: white;
  background-color: rgba(0, 0, 0, 0.67);
  height: 20%;
  width: 97%;
  position: absolute;
  padding: 1rem;
  margin-top: 314px;
  border-bottom-left-radius: $boxRadius;
  border-bottom-right-radius: $boxRadius;
}

.project-cover {
    background: $accentColor;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    // transition: opacity $transitionSpeed;
    @include transition(all, $transitionSpeed, ease);
    border-radius: 8px;
}

.selected {
  .project-cover {
    opacity: 0.2;
  }
}

.project-button.selected {
  border-color: $accentColor;
}

.project-presentation {
  width: 98%;
  height: 100%;
  background-color: rgba(254, 254, 254, 0.0);
  min-height: 18rem;

  img {
    position: absolute;
    width: 97%; /* or any custom size */
    height: 100%;
    object-fit: cover;
    opacity: 0.0;

    @include transition(opacity, $transitionSpeed, ease);
  }

}

.shadow-btn {
  background-color: #222222;
  width: 12rem;
  height: 3rem;
  border-radius: 3rem;
  font-weight: bold;
  color: white;
  cursor: pointer;

  @include transition(background-color, $transitionSpeed, ease);
}

.shadow-btn:hover {
  background-color: $accentColor;
}

#homeAvatar {
  margin-bottom: 1.0rem;
  width: 200px;
  height: 200px;
  border: $accentColor 0.4rem solid;
}

.modal-title {
    margin-bottom: 0.5rem;
}

.modal-button {
    width: 100%;
    background-color: #373737;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;

    @include transition(background-color, 0.5s, ease);
}

.modal-button:hover {
    background-color: $accentColor
}

@media (max-width: 767px) {
    #favoritesBlock {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
