$boxRadius: 8px;
$subtitle-color: #b3b2b2;

body, html {
    // height: 100%;
}

.hero {
  // padding: 10rem 5%;
  padding-top: 10rem;
  padding-bottom: 10rem;
  position: relative;
  background: rgba(0, 0, 0, 0.5); /* If our image is bright, we can tone it down with this darker overlay */
  text-align: center;
  height: 80vh;

  h2 {
    font-family: monospace;
    font-size: 3rem;
    margin-bottom: 20px;
    color: white
  }

  p {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    color: $subtitle-color;
  }

  @media(min-width: 768px) { p {width: 52%;} }
  @media(min-width: 568px) and (max-width: 777px) { p {width: 96%;} }

}

.hero:after {
  @extend .stick;
  content: "";
  position: absolute;
  background-image: url(media/background.jpg);
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  // opacity: 0.2;
}

#aboutBlock {
  background: rgba(0, 0, 0, 0.5); /* If our image is bright, we can tone it down with this darker overlay */
  height: 60vh;
  position: relative;

  .col-sm.6 {
    color: white;
    text-align: center;
  }
}

#aboutBlock:after {
  @extend .stick;
  content: "";
  position: absolute;
  background-image: url(media/bonnell.jpg);
  background-size: cover;
  background-position: center;;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

}

.stick {
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px
}

.nav-cell {
  background-color: rgba(134, 134, 134, 0.21);
  width: 100%;
  height: 60px;
  margin-bottom: 1rem;
  color: white;
  font-size: 2rem;
  transition: background-color 0.5s ease;
  border-radius: 6px;
  padding-left: 12px;
  cursor: pointer;

  i {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
  }
}

.nav-cell:hover {
  background-color: rgba(219, 144, 249, 1);
}

footer {
  height: 3rem;
  background-color: rgba(219, 144, 249, 1);
}

#featuredCarousel {
  background-color: blue;
  height: 300px;
  width: auto;
  border-radius: $boxRadius;
}

#featureBlock {
  height: auto;
  background-color: #222222;

  h1 {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  @media(min-width: 768px) {
    .container {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }

  @media(min-width: 568px) and (max-width: 777px) {
    .container {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

}





#homeAvatar {
  margin-bottom: 1.0rem;
  width: 150px;
  height: 150px;
}
